@font-face {
  font-family: 'cl_icons';
  src:  url('//storage.googleapis.com/cr-resource/fonts/cl_icons.eot?sp5cjk');
  src:  url('//storage.googleapis.com/cr-resource/fonts/cl_icons.eot?sp5cjk#iefix') format('embedded-opentype'),
    url('//storage.googleapis.com/cr-resource/fonts/cl_icons.ttf?sp5cjk') format('truetype'),
    url('//storage.googleapis.com/cr-resource/fonts/cl_icons.woff?sp5cjk') format('woff'),
    url('//storage.googleapis.com/cr-resource/fonts/cl_icons.svg?sp5cjk#cl_icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cl-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cl_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.cl-icon-globe:before {
  content: "\e900";
}
.cl-icon-login:before {
  content: "\e901";
}